:root{
  --main-red:#E60023;
  --background: white; 
  --container-grey: #F4F4F4; 
  --container-border:#ddd;
}
@font-face{
  font-family: NeueHassBold;
  src: url(../fonts/NeueHaasDisplayBold.ttf);
}
@font-face{
  font-family: NeueHass;
  src: url(../fonts/NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: NeueHassLight;
  src: url(../fonts/NeueHaasDisplayLight.ttf);
}
@font-face {
  font-family: NotoSans;
  src: url(../fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}
body{
    background-color: var(--background);
    font-family: sans-serif;
    margin: 0;
}
h1{
    text-align: center;
    color: var(--main-red);
    font-family: NeueHassBold;
}
h2{
  text-align: center;
}
p{
  font-family: NeueHass;
  color: var(--main-red);
  margin-left: 25px;
}
.grid-container{
    display: grid;
    grid-template-columns: 24vw 22vw 22vw 20vw;
    justify-content: center;

}

.section {
  text-align: left;              
  height: fit-content;
}
.section #loops, .section #interaction, .section #feedback, .section #rules, .section #reference, .section #trigger, #mode-example{
  background-color: var(--container-grey);
  border: 1px solid var(--container-border);
  border-radius: 12%;
  margin:10px;
  margin-top: 20px;
  padding: 10px;
}

.section img {
  max-width: 17vw;
  display: block;                
  margin: 10px auto;           
}
.logo{
  max-width: 70px;
}
#mode-example{
  width: 70vw;
  justify-content: center;
  margin: auto;
  margin-top: 10vh;
}
#mode-example video{
  width: 60vw;
  display: block;
  margin: auto;
  justify-content: center;
}

button{
  display: block;
  margin: auto;
  font-family: NotoSans;
  font-size: larger;
  color: white;
  background-color: var(--main-red);
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
}
@media (max-width: 1000px) {
  .grid-container {
      grid-template-columns: 40vw 40vw; 
  }
  .section img {
    max-width: 30vw;    
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .grid-container {
      grid-template-columns: 80vw; 
  }
  .section img {
    max-width: 70vw;    
  }
}